.arrow-buttons {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  .arrow {
    background-color: #242222;
    color: white;
    font-size: 2em;
    border: none;
    cursor: pointer;
    padding: 5px 10px 10px 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
    border-radius: 10rem;
    transition: transform 0.2s ease-in-out, opacity 0.2s;
  }
  
  .arrow:hover {
    opacity: 1;
  }

  .left-arrow.active {
    transform: translateX(2rem);
  }
  
  .right-arrow.active {
    transform: translateX(-2rem);
  }
  
  .left-arrow {
    position: fixed;
    left: 2rem;
  }
  
  .right-arrow {
    position: fixed;
    right: 2rem;
  }
  