body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  font-family: ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

biblicalText {
  font-family: ui-serif,Georgia,Cambria,Times New Roman,Times,serif;
}

headerText {
  font-size: 1.875rem;
  line-height: 2.25rem;
}